.input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    height: 1.5rem;
    border-style: none;
    border-bottom: solid gray 2px;
    color: black;
    font-size: 1rem;
}

.input::placeholder {
    color: black;
    font-weight: bold;
    font-size: 1rem;
}

.label {
    font-size: 1.3rem;
    font-style: italic;
    color: black;
}